.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;

  &__title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--main {
      text-align: center;
      font-size: 4rem;
    }

    &--sub {
      font-size: 2rem;
      width: 70vw;
      text-align: center;
      color: grey;
      font-weight: 300;
    }
  }

  &__links {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    &--login {
      width: 90vw;
    }
  }
}
