.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: absolute;
  top: 1vh;
  width: 100%;
  z-index: 1;

  &__search,
  &__logout {
    background-color: rgba(255, 255, 255, 0.8 );
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &__item-clauses {
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--option {
      color: white !important;
      background-color: none;
      font-weight: 800;
      font-size: 1rem;
    }

    &--active-option {
      background-color: black;
      border-radius: 5rem;
      color: white !important;
      font-weight: 800; 
      font-size: 1rem;
    }
  }
}
