.displayed-items {
  display: grid;
  grid-template-columns: repeat(2, auto);
  overflow-y: scroll;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
