/* Block: photo-uploader */
.photo-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  height: 19vh;
  background-color: #f9f9f9;
  position: relative;

  &__upload-button {
    color: #9e9e9e;
    margin-bottom: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-button {
    padding: 0; /* Remove padding from IconButton */
  }

  &__icon {
    font-size: 32px; // Adjust icon size
  }

  &__input {
    display: none;
  }

  &__helper-text {
    font-size: 14px;
    color: #9e9e9e;
  }

  &__image-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    .photo-uploader__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .photo-uploader__delete-button {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: #ecf1f5;
      color: #f44336;
      border: none;
      border-radius: 50%;
      padding: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.2s;
    }
  }
}
