.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 5vh;

  &__save-button {
    position: absolute;
    width: 90vw;
    bottom: 5rem;
  }
}
